# Standard settings - you don't need to change them.
KAFKA_TOPIC=websites
KAFKA_CONSUMER_GROUP=storage
SITES_LIST=websites.csv
HTTP_TIMEOUT=3s
KAFKA_CERT=/certs/service.cert
KAFKA_KEY=/certs/service.key
KAFKA_CA=/certs/ca.pem

# NOTE: Things you need to set
# KAFKA_HOST=
# POSTGRES_URL=